# Assignment - Python Warmup
Please follow the instructions in the assignment's PDF and fill in the code for each function.

## Exercise 1

In [0]:
def positionWord(filePath, position):
  f = open(filePath,"r")
  ilist=[]
  for x in f:

        x = x.replace(',', '')
        x = x.replace('.','')
        x= x.split()
        ilist.append(x)
  

  return [x[position] for x in ilist]   

positionWord('example.txt',3)

['in', 'Ghost', 'humour', 'or', 'one']

## Exercise 2

In [0]:
def onlyUpperCase(text):
 
  return(''.join([c for c in text if c.isupper()]))

onlyUpperCase("lorem ipsum Dolor Sit amet")

'DS'

## Exercise 3

In [0]:
def divisors(num1, num2):
  i=1
  nlist=[]
  while (num2*i<=num1):
    nlist.append(num2*i)
    i += 1
    if (num2*i>num1):
       break 
      
  return nlist
      
divisors(13, 3)

[3, 6, 9, 12]

## Exercise 4

In [0]:
def countWords(wordList):
    counts = dict()
  
    for word in wordList:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts
  
countWords(["the", "seething", "sea", "ceaseth","and", "thus", "the", "seething", "sea", "sufficeth", "us"])

{'and': 1,
 'ceaseth': 1,
 'sea': 2,
 'seething': 2,
 'sufficeth': 1,
 'the': 2,
 'thus': 1,
 'us': 1}

## Exercise 5

In [0]:
def organizedCountWords(wordList):
    count={}
   
    i=0

   # for word in wordList:
       # if word in count:
        #    count[word] += 1
       # else:
       #     count[word] = 1
    
    
   # k = list(count.items())
   # k.sort(key=lambda x:len(x[0]))
    
   # for i in k :
   #    new_count.update({i[0]:i[1]}) 
    
    for i in wordList:
      if len(i) not in count:
        count[len(i)]={}
      count[len(i)][i]=wordList.count(i)

    return count
organizedCountWords(["the", "seething", "sea", "ceaseth","and", "thus", "the", "seething", "sea", "sufficeth", "us"])

{2: {'us': 1},
 3: {'and': 1, 'sea': 2, 'the': 2},
 4: {'thus': 1},
 7: {'ceaseth': 1},
 8: {'seething': 2},
 9: {'sufficeth': 1}}

##Exercise 6

In [47]:
import pandas as pd
def AvgNeighbourhoodListingPrice(neighbourhoodList, room_type, number_of_reviews, minimum_nights):
  
    URL = 'https://raw.githubusercontent.com/MIE451-1513-2019/course-datasets/master/toronto_airbnb_listings_Aug2019.csv'
    df=pd.read_csv(URL,sep=",")
    df1=df[(df['number_of_reviews'] >= number_of_reviews) & (df['minimum_nights'] <= minimum_nights) & (df['room_type'] == room_type)]
    grouped=df1.groupby(df1['neighbourhood'])
    final=grouped['neighbourhood','price'].mean()
    final= final.loc[neighbourhoodList]
    f1=final.sort_values(['price'],ascending=False)
    
    return f1.round(2)
  
AvgNeighbourhoodListingPrice(["Edenbridge-Humber Valley","Annex","The Beaches"],"Entire home/apt",30, 3)

                           price
neighbourhood
Edenbridge-Humber Valley  453.33
Annex                     141.99
The Beaches               126.24

## Exercise 7

In [37]:
import numpy as np
import pandas as pd
from numpy.linalg import inv
def leastSquaresFit(urlX,urlY):
  X=pd.read_csv(urlX,names=['x1','x2','x3']).to_numpy()
  X = np.c_[np.ones(500),X]
  y=pd.read_csv(urlY,sep=",",names=['y']).to_numpy()
  XT=X.transpose()
  XP=np.matmul(XT,X)
  XPi=inv(XP)
  w=np.matmul(XPi,XT)
  final=np.matmul(w,y)
  return final [1:4,:]

leastSquaresFit("https://raw.githubusercontent.com/MIE451-1513-2019/course-datasets/master/X.csv","https://raw.githubusercontent.com/MIE451-1513-2019/course-datasets/master/Y.csv")

array([[78.5819959 ],
       [68.68353831],
       [66.40178688]])

----------
## Validators
This following cell provide basic validation of your functions.

You should run each cell and make sure you do not get an exception.

**IMPORTANT: passing these validators does not mean your code is correct. These are basic validators to make sure the interface of your functions is correct.**

In [0]:
assert(isinstance(positionWord("example.txt", 2), list))

In [0]:
assert(isinstance(onlyUpperCase("lorem ipsum Dolor Sit amet, conSectetur."), str))

In [0]:
assert(isinstance(divisors(23, 6), list))

In [0]:
words = ["the", "seething", "sea", "ceaseth", "and", "thus", "the", "seething", "sea", "sufficeth", "us"]
assert(isinstance(countWords(words), dict))

In [0]:
words = ["the", "seething", "sea", "ceaseth", "and", "thus", "the", "seething", "sea", "sufficeth", "us"]
assert(isinstance(organizedCountWords(words), dict))

In [0]:
df = AvgNeighbourhoodListingPrice(["Little Portugal","Waterfront Communities-The Island","Rosedale-Moore Park","Kensington-Chinatown"], "Private room", 50, 4)
assert(df.shape == (4,1))

In [0]:
import pandas as pd
assert(isinstance(df,pd.DataFrame))

In [0]:
w = leastSquaresFit("https://raw.githubusercontent.com/MIE451-1513-2019/course-datasets/master/X.csv","https://raw.githubusercontent.com/MIE451-1513-2019/course-datasets/master/Y.csv")
assert(w.shape == (3, 1))

In [0]:
assert(isinstance(w,np.ndarray))